html {
    min-width: 100%;
    min-height: 100%;
}

body {
    background-color: lightgray;
}

.container-fluid {
    background-color: grey;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: -5px
}

.nav-item {
    padding-right: 15px;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    background-color: grey;
    margin-top: 25px;
    padding-bottom: 15px;
}

article {
    text-align: left;
}

.row2 {
    padding-top: 15px;
}