html {
    min-height: 100%;
}

body {
    background-color: grey;
    box-sizing: border-box;
}


/*moved header to be in order*/

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-fluid {
    background-color: lightgray;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    /*added padding to the top and bottom of the nav bar to give room for the button when screen is sm*/
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    margin-top: -5px;
    margin-bottom: -8px;
    border: 3px;
    border-style: ridge;
    border-color: white;
}

.nav-item {
    padding-right: 15px;
}

main {
    color: grey;
    background-color: lightgray;
    margin-top: 35px;
    border: 3px;
    border-style: ridge;
    border-color: white;
}

h1 {
    padding-left: 75px;
}

article {
    text-align: left;
}

.row2 {
    padding-top: 10px;
    text-align: left;
}

footer {
    background-color: lightgray;
    border: 3px;
    border-style: ridge;
    border-color: white;
    flex-shrink: 0;
    margin-top: auto;
}

footer>p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: grey;
    padding-top: 15px;
}